* {
    font-family: 'Oxygen', sans-serif;
}

.logo {
    font-size: larger;
    color: rgb(104, 104, 211);
    margin: 10px;
    border: transparent;
    position: relative;
}

.part1 {
    font-size: small;
    margin: 10px;
    border: transparent;
    display: flex;
}

.v {
    margin-left: 10px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.h {
    margin-left: 1150px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    display: inline-block; 
    position: absolute;
}

.t {
    margin-left: 1250px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    display: inline-block; 
    position: absolute;
}

.ftperfil{
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 210px;
    border-radius: 50%;
    border: 2px solid rgb(104, 104, 211);
    display: inline-block;
    position: absolute;
}

.part2 {
    width: 750px;
    height: 60px;
    top: -80px;
    left: 220px;
    margin: 10px;
    border:2px solid rgb(104, 104, 211);
    display: inline-block;
    position: relative;
}

.info {
    top: -100;
    left: 260px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 320px;
    border: transparent;
    display: inline-block;
    position: relative;
}

h4 {
    color: rgb(104, 104, 211);
}

h3 {
    margin: 30px;
    margin-top: 20px;
    margin-left: 90px;
    border: transparent;
    display: inline-block;
}

table {
    border-spacing: 30px;
    border: 2px solid rgb(104, 104, 211);
}
.yo {
    width: 300px;
    height: 420px;
}

a {
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    color: black;
}

.x {
    color: blueviolet;
}

.yo:hover {
    filter: opacity(.5);
}

.icon {
    display: inline-block;
}

p {
    display: inline-block;
    margin: 10px;
}
